# DATA WRANGLING 


The key part of the data analysis process is that the datasets need to be in the right format before analysts can start drawing meaningful conclusions.  The process of preparing data for analysis is called __data wrangling__, and often takes the bulk of an analysts' time during a data project.  Possible issues might include: 

* Missing data or problematic/incorrect values in a dataset; 
* Data are formatted incorrectly, preventing the analyst from working with the data in the right way; 
* Data are spread across multiple files or data tables; 
* Data are in the wrong "shape" for analysis and visualization
* All of the above, in varying capacities!

A major reason why we are learning to work with `pandas` in this workshop is because it can flexibly handle all of these tasks.  In this notebook, we'll be going over some basic examples of how this works, which you'll then put into practice with the Exercises at the end.  

In this notebook, we'll be working with three different datasets described below:

* MovieLens 100k movie rating data:
** main page: http://grouplens.org/datasets/movielens/
** data dictionary: http://files.grouplens.org/datasets/movielens/ml-100k-README.txt
** files: u.user, u.data, u.item

* WHO alcohol consumption data:
**    article: http://fivethirtyeight.com/datalab/dear-mona-followup-where-do-people-drink-the-most-beer-wine-and-spirits/    
** original data: https://github.com/fivethirtyeight/data/tree/master/alcohol-consumption
** file: drinks.csv (with additional 'continent' column)

* National UFO Reporting Center data:
** main page: http://www.nuforc.org/webreports.html
** file: ufo.csv

### WRANGLING STEP-BY-STEP
1. READING FILES, SELECTING COLUMNS, AND SUMMARIZING
2. FILTERING AND SORTING
3. RENAMING, ADDING, AND REMOVING COLUMNS
4. SPLIT, APPLY, AND COMBINE
5. SELECTION MULTIPLE COLUMNS AND FILTERING ROWS
6. JOINING AND MERGING DATAFRAMES
7. OTHER COMMONLY USED FEATURES
8. OTHER LESS USED FEATURES

## PART 1: READING FILES, SELECTING COLUMNS, AND SUMMARIZING
### MOVIELENS DATA

In [1]:
import pandas as pd

In [2]:
# can read a file from local computer or directly from a URL
pd.read_table('../data/u.user')

          1|24|M|technician|85711
0              2|53|F|other|94043
1             3|23|M|writer|32067
2         4|24|M|technician|43537
3              5|33|F|other|15213
4          6|42|M|executive|98101
..                            ...
937        939|26|F|student|33319
938  940|32|M|administrator|02215
939        941|20|M|student|97229
940      942|48|F|librarian|78209
941        943|22|M|student|77841

[942 rows x 1 columns]

In [ ]:
# read 'u.user' into 'users'
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('../data/u.user', 
                      sep='|', 
                      header=None, 
                      names=user_cols,
                     index_col='user_id',
                     dtype={'zip_code':str})

In [ ]:
pd.read_table() # SHIFT TAB TAB for extra help. This will error out

In [ ]:
users

### EXAMINE THE MOVIE USERS DATA

In [ ]:
users.head()

In [ ]:
type(users)

In [ ]:
users.head(10)

In [ ]:
users.tail()

In [ ]:
users.index

In [ ]:
users.columns

In [ ]:
users.dtypes

In [ ]:
users.shape

In [ ]:
users.values

In [ ]:
users.info()

### SELECT A COLUMN

In [ ]:
users['gender']

In [ ]:
type(users['gender'])

In [ ]:
users.gender.value_counts()

### SUMMARIZE THE DATA

In [ ]:
## describe all the numeric columns
users.describe()

In [ ]:
## describe all object columns (can inc0lude multiple types)
users.describe(include=['object'])

In [ ]:
users.describe()

In [ ]:
## describe all columns
users.describe(include='all')

## EXERCISE #1: WHO ALCOHOL CONSUMPTION

#### read drinks.csv into a DataFrame called 'drinks'

In [ ]:
drinks = pd.read_csv('../data/drinks.csv')

In [ ]:
drinks.head()

#### print the head and the tail

#### examine the default index, data types, and shape

#### print the 'beer_servings' Series

#### calculate the average 'beer_servings' for the entire dataset

#### count the number of occurrences of each 'continent' value and see if it looks correct

## PART 2: FILTERING & SORTING

### LOGICAL FILTERING: ONLY SHOW USERS WITH AGE < 20

In [ ]:
users.head()

In [ ]:
young_bool = users.age < 20         # create a Series of booleans...

In [ ]:
young_bool

In [ ]:
users[young_bool]                   # ...and use that Series to filter rows

In [ ]:
users[users.age < 20]

In [ ]:
users[users.age < 20]               # or, combine into a single step

In [ ]:
users[users.age > 50].occupation    # select one column from the filtered results

In [ ]:
users[users.age > 50].occupation.value_counts()  # value_counts of resulting Series

### LOGICAL FILTERING WITH MULTIPLE CONDITIONS

In [ ]:
users[(users.age < 20) & (users.gender=='M')]       # ampersand for AND condition

In [ ]:
users[(users.age < 20) | (users.age > 60)]          # pipe for OR condition

In [ ]:
users[(users.occupation == 'doctor') | (users.occupation == 'lawyer') | (users.occupation == 'student') | (users.occupation == 'engineer') | (users.occupation == 'educator')]

In [ ]:
users[users.occupation.isin(['doctor', 'lawyer', 'student', 'engineer', 'educator'])]  # alternative to multiple OR conditions

In [ ]:
users[~users.occupation.isin(['doctor', 'lawyer', 'student', 'engineer', 'educator'])] # not in the list

### SORTING

In [ ]:
users.age.sort_values()               # sort a column

In [ ]:
users.sort_values('age', ascending=False)                   # sort a DataFrame by a single column

In [ ]:
users.sort_values('age', ascending=False)  # use descending order instead

In [ ]:
users.sort_values(['occupation', 'age'])   # sort by multiple columns

In [ ]:
users.sort_values(['occupation', 'age'])[['gender', 'occupation']]

In [ ]:
col_names_to_display = ['gender', 'occupation']
users.sort_values(['occupation', 'age'])[col_names_to_display]

In [ ]:
users.sort_values(['occupation', 'age'])[ ['gender', 'occupation']    ].to_csv('users.csv')

## EXERCISE #2

#### filter DataFrame to only include European countries

#### filter DataFrame to only include European countries with wine_servings > 300

#### calculate the average 'beer_servings' for all of Europe

#### determine which 10 countries have the highest total_litres_of_pure_alcohol

## PART 3: RENAMING, ADDING, AND REMOVING COLUMNS

In [ ]:
drinks = pd.read_csv('../data/drinks.csv')

In [ ]:
drinks

In [ ]:
# renaming one or more columns
drinks = drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'})

In [ ]:
drinks.columns

In [ ]:
# replace all column names
drink_cols = ['country', 'beer', 'spirit', 'wine', 'liters', 'continent']
drinks = pd.read_csv('../data/drinks.csv', header=0, names=drink_cols)  # replace during file reading

In [ ]:
drinks.head()

In [ ]:
drinks = pd.read_csv('../data/drinks.csv')

In [ ]:
drinks.columns

In [ ]:
drinks.columns = drink_cols

In [ ]:
drinks.columns

In [ ]:
# add a new column as a function of existing columns
drinks['mL'] = drinks.liters * 1000

In [ ]:
drinks.columns

In [ ]:
drinks['servings'] = drinks.beer + drinks.spirit + drinks.wine

In [ ]:
drinks.head()

In [ ]:
drinks.T

In [ ]:
drink_transposed = drinks.T

In [ ]:
#### drink_transposed[drink_transposed.index==1]

In [ ]:
drink_transposed.drop('mL', axis=0)

In [ ]:
# removing columns
drinks.drop('mL', axis=1)                               # axis=0 for rows, 1 for columns

In [ ]:
drinks.head()

In [ ]:
# removing columns
drinks.drop(['mL', 'servings'], axis=1, inplace=True)   # make it permanent

In [ ]:
drinks.head()

In [ ]:
## TRANSPOSE

In [ ]:
drinks7 = pd.read_csv('../data/drinks.csv')

In [ ]:
drinks7.columns = drink_cols
drinks7.head()

In [ ]:
drinks8 = drinks7.T.drop('country', axis=0)

In [ ]:
drinks8.head()

### HANDLING MISSING VALUES

In [ ]:
drinks.info()

In [ ]:
drinks.continent.value_counts()

In [ ]:
drinks.continent.value_counts(dropna=False)  # includes missing values

In [ ]:
# missing values are usually excluded by default
drinks.continent.value_counts()         # excludes missing values

In [ ]:
# find missing values in a Series
drinks.continent.isnull()           # True if missing, False if not missing

In [ ]:
drinks.continent.isnull().sum()     # count the missing values

In [ ]:
drinks.continent.notnull().sum()

In [ ]:
drinks.continent.notnull()          # True if not missing, False if missing

In [ ]:
drinks[drinks.continent.isnull()]  # only show rows where continent is  missing

In [ ]:
drinks[drinks.continent.notnull()]  # only show rows where continent is not missing

In [ ]:
drinks.head()

In [ ]:
# side note: understanding axes
drinks.sum(axis=0)      # sums "down" the 0 axis (rows)

In [ ]:
drinks.sum()            # axis=0 is the default

In [ ]:
drinks.head(26)

In [ ]:
drinks.sum(axis=1)      # sums "across" the 1 axis (columns)

In [ ]:
# find missing values in a DataFrame
drinks.isnull()             # DataFrame of booleans

In [ ]:
drinks.isnull().sum()    # count the missing values in each column

In [ ]:
# drop missing values
drinks.dropna()             # drop a row if ANY values are missing

In [ ]:
drinks.dropna(how='all')    # drop a row only if ALL values are missing

In [ ]:
drinks.continent.values

In [ ]:
# fill in missing values
drinks.continent.fillna(value='NOTHING', inplace=True)                 # fill in missing values with 'NA'

In [ ]:
drinks.continent.fillna() # EXECUTE SHIFT TAB TAB TO FIND STRATEGIES FOR FILLNA

In [ ]:
drinks.continent.values

In [ ]:
drinks.isnull().sum()

In [ ]:
# turn off the missing value filter
drinks3 = pd.read_csv('../data/drinks.csv', header=0, na_filter=True)

In [ ]:
drinks3.isnull().sum()

In [ ]:
drinks3.shape

In [ ]:
drinks3.continent.values

In [ ]:
drinks3.continent.value_counts(dropna=False)

In [ ]:
# turn off the missing value filter
drinks4 = pd.read_csv('../data/drinks.csv', header=0, names=drink_cols, na_filter=False)

In [ ]:
drinks4.isnull().sum()

In [ ]:
drinks4.continent.value_counts(dropna=False)

In [ ]:
drinks4.continent.values

In [ ]:
drinks4.shape

## EXERCISE 3: USE UFO DATASET

#### read ufo.csv into a DataFrame called 'ufo'

In [ ]:
ufo = pd.read_csv('../data/ufo.csv')

#### check the shape of the DataFrame

#### what are the three most common colors reported?

#### Rename any columns with spaces so that they don't contain space. Make it inplace.

#### for reports in VA, what's the most common city?

#### print a DataFrame containing only reports from Arlington, VA

#### count the number of missing values in each column

#### how many rows remain if you drop all rows with any missing values?

## PART 4: SPLIT-APPLY-COMBINE

<img src='./images/split-apply-combine.png' />

In [ ]:
# for each continent, calculate the mean beer servings
drinks.groupby('continent').beer.mean()

In [ ]:
# for each continent, calculate the mean of all numeric columns
drinks.groupby('continent').mean()

In [ ]:
drinks.describe()

In [ ]:
# for each continent, describe beer servings
drinks.groupby('continent').beer.describe()

In [ ]:
def percentile(n):
    def percentile_(x):
        return np.percentile(x, n)
    percentile_.__name__ = 'percentile_%s' % n
    return percentile_

In [ ]:
# similar, but outputs a DataFrame and can be customized
drinks.groupby('continent').beer.agg(['count', 'mean', 'min', 'max'])

In [ ]:
drinks.groupby('continent').beer.agg(['count', 'mean', 'min', 'max']).sort_values('mean')

In [ ]:
# for each continent, describe all numeric columns
drinks.groupby('continent').describe()

In [ ]:
# for each continent, count the number of occurrences
drinks.groupby('continent').continent.count()

In [ ]:
drinks.continent.describe()

In [ ]:
dict(drinks.groupby('continent').continent.count())

In [ ]:
drinks.continent.value_counts()

## EXERCISE 4

#### for each occupation in 'users', count the number of occurrences

#### for each occupation, calculate the mean age

#### for each occupation, calculate the minimum and maximum ages

#### for each combination of occupation and gender, calculate the mean age

## PART 5: SELECTION MULTIPLE COLUMNS AND FILTERING ROWS

In [ ]:
# read ufo.csv into a DataFrame called 'ufo'
ufo = pd.read_csv('../data/ufo.csv')

In [ ]:
ufo.head()

In [ ]:
# select multiple columns
my_cols = ['City', 'State']     # create a list of column names...
ufo[my_cols]                    # ...and use that list to select columns
ufo[['City', 'State']]          # or, combine into a single step

In [ ]:
# use loc to select columns by name
ufo.loc[:, 'City']             # colon means "all rows", then select one column

In [ ]:
ufo.loc[:, ['City', 'State']]   # select two columns

In [ ]:
ufo.loc[:, 'City':'State']      # select a range of columns

In [ ]:
# loc can also filter rows by "name" (the index)
ufo.loc[0, :]                   # row 0, all columns

In [ ]:
ufo.loc[0:2, :]                 # rows 0/1/2, all columns

In [ ]:
ufo.loc[0:2, 'City':'State']    # rows 0/1/2, range of columns

In [ ]:
ufo.iloc[0:2, 0:3] # this is going to fail because we're calling .loc with index numbers

In [ ]:
# use iloc to filter rows and select columns by integer position
ufo.iloc[:, [0, 3]]            # all rows, columns in position 0/3

In [ ]:
ufo.iloc[:, 0:4]                # all rows, columns in position 0/1/2/3

In [ ]:
ufo.iloc[0:3, :]                # rows in position 0/1/2, all columns

In [ ]:
# Using slicing to assign new values

drinks = pd.read_csv('../data/drinks.csv')
drink_cols = ['country', 'beer', 'spirit', 'wine', 'liters', 'continent']
drinks.columns = drink_cols     # replace after file reading       

drinks2 = drinks.copy()
drinks2.loc[(drinks.continent == 'EU'), 'liters'] = 9999
drinks2.loc[(drinks.continent == 'EU'), 'liters']

In [ ]:
drinks.loc[(drinks.continent == 'EU'), 'liters']

## PART 6: JOINING AND MERGING DATAFRAMES

In [ ]:
# read 'u.item' into 'movies'
movie_cols = ['movie_id', 'title']
movies = pd.read_table('../data/u.item', sep='|', header=None, names=movie_cols, usecols=[0, 1], encoding ='latin-1')

In [ ]:
# read 'u.data' into 'ratings'
rating_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('../data/u.data', sep='\t', header=None, names=rating_cols,encoding ='latin-1' )

In [ ]:
# merge 'movies' and 'ratings' (inner join on 'movie_id')
movie_ratings = pd.merge(movies, ratings)
movie_ratings

In [ ]:
movies.shape

In [ ]:
movies.head()

In [ ]:
ratings.head()

In [ ]:
movie_ratings.head()

In [ ]:
ratings.shape

In [ ]:
movie_ratings.shape

## PART 7: OTHER COMMONLY USED FEATURES

In [ ]:
users.head()

In [ ]:
# map existing values to a different set of values
users['is_male'] = users.gender.map({'F':0, 'M':1})

In [ ]:
users.head()

In [ ]:
# replace all instances of a value in a column (must match entire value)
ufo.State.replace('Fl', 'FL', inplace=True)

In [ ]:
ufo["Colors Reported"]

In [ ]:
# string methods are accessed via 'str'
ufo.State.str.upper()                               # converts to uppercase
ufo["Colors Reported"].str.contains('RED', na='False') # checks for a substring

In [ ]:
ufo.head()

In [ ]:
ufo.info()

In [ ]:
# convert a string to the datetime format
ufo['Time'] = pd.to_datetime(ufo.Time)
ufo.Time.dt.hour                 # datetime format exposes convenient attributes

In [ ]:
ufo.info()

In [ ]:
print (ufo.Time.max())
print (ufo.Time.min())

In [ ]:
(ufo.Time.max() - ufo.Time.min()).days  # also allows you to do datetime "math"

In [ ]:
ufo.index

In [ ]:
# setting and then removing an index
ufo.set_index('Time', inplace=True)

In [ ]:
ufo.index

In [ ]:
ufo['1930-01':'1930-06']

In [ ]:
ufo.reset_index(inplace=True)

In [ ]:
ufo.index

In [ ]:
ufo.set_index('State', inplace=True)

In [ ]:
ufo.index

In [ ]:
ufo[ufo.index == 'NY']

In [ ]:
drinks.info()

In [ ]:
# change the data type of a column
drinks['beer'] = drinks.beer.astype('float')

In [ ]:
# create dummy variables for 'continent' and exclude first dummy column
continent_dummies = pd.get_dummies(drinks.continent, prefix='cont').iloc[:, 1:]

In [ ]:
continent_dummies

In [ ]:
# concatenate two DataFrames (axis=0 for rows, axis=1 for columns)
drinks = pd.concat([drinks, continent_dummies], axis=1)

In [ ]:
drinks.head()

In [ ]:
drinks.drop(['continent'], axis=1, inplace=True)

In [ ]:
drinks

## PART 8: OTHER LESS USED FEATURES

### USING MOVIES DATA

In [ ]:
# detecting duplicate rows
users.duplicated()          # True if a row is identical to a previous row

In [ ]:
users.duplicated().sum()    # count of duplicates

In [ ]:
users[users.duplicated()]   # only show duplicates

In [ ]:
users.iloc[571, :]

In [ ]:
users.drop_duplicates()     # drop duplicate rows

In [ ]:
users.age.duplicated()      # check a single column for duplicates

In [ ]:
users.duplicated(['age', 'gender', 'zip_code']).sum()   # specify columns for finding duplicates

### USING WHO ALCOHOL CONSUMPTION DATA

In [ ]:
# convert a range of values into descriptive groups
drinks['beer_level'] = 'low'    # initially set all values to 'low'

In [ ]:
drinks.loc[drinks.beer.between(101, 200), 'beer_level'] = 'med'     # change 101-200 to 'med'

In [ ]:
drinks.loc[drinks.beer.between(201, 400), 'beer_level'] = 'high'    # change 201-400 to 'high'

In [ ]:
drinks.head()

In [ ]:
drinks.beer_level.value_counts()

In [ ]:
# display a cross-tabulation of two Series
pd.crosstab(drinks.country, drinks.beer_level)

In [ ]:
# convert 'beer_level' into the 'category' data type
drinks['beer_level'] = pd.Categorical(drinks.beer_level, categories=['low', 'med', 'high'])

In [ ]:
drinks.info()

In [ ]:
drinks

In [ ]:
drinks.sort_values('beer_level')   # sorts by the categorical ordering (low to high)

In [ ]:
drinks.info()

In [ ]:
# limit which rows are read when reading in a file
pd.read_csv('../data/drinks.csv', nrows=10)           # only read first 10 rows

In [ ]:
drinks = pd.read_csv('../data/drinks.csv')
drinks[:10]

In [ ]:
pd.read_csv('../data/drinks.csv', skiprows=[0, 1])    # skip the first two rows of data

In [ ]:
# write a DataFrame out to a CSV
drinks.to_csv('drinks_updated.csv')                 # index is used as first column

In [ ]:
drinks.to_json('drinks_updated.json')

In [ ]:
drinks.to_csv('drinks_updated.csv', index=False)    # ignore index

In [ ]:
# create a DataFrame from a dictionary
pd.DataFrame({'capital':['Montgomery', 'Juneau', 'Phoenix'], 'state':['AL', 'AK', 'AZ']})

In [ ]:
# randomly sample a DataFrame
import numpy as np
mask = np.random.rand(len(drinks)) < 0.66   # create a Series of booleans
train = drinks[mask]                        # will contain around 66% of the rows
test = drinks[~mask]                        # will contain the remaining rows

In [ ]:
len(mask)

In [ ]:
train.shape

In [ ]:
test.shape